<!DOCTYPE html>
<!--  Last Published: Mon Jul 13 2020 20:17:49 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="5e9eeafee5e2622826b852c5" data-wf-site="5e7a29b0f9dc73c9b5fb343d" lang="en">
<head>
  <meta charset="utf-8">
  <title>Find a Program</title>
  <meta content="Find a Program" property="og:title">
  <meta content="Find a Program" property="twitter:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="../css/normalize.css" rel="stylesheet" type="text/css">
  <link href="../css/components.css" rel="stylesheet" type="text/css">
  <link href="../css/lasell-gps.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">
      WebFont.load({
        google: {
          families: ["Inconsolata:400,700"]
        }
      });
    </script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">
      ! function(o, c) {
        var n = c.documentElement,
          t = " w-mod-";
        n.className += t + "js", ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch")
      }(window, document);
    </script>
  <link href="../images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="../images/webclip.png" rel="apple-touch-icon">
</head>
<body>
  <header class="header">
    <div class="utility-bar">
      <div class="container utility-bar-container">
        <a href="https://www.lasell.edu/" target="_blank" class="link-to-parent-site w-inline-block">
          <div>lasell.edu</div>
        </a>
        <nav class="eyebrow-nav">
          <a href="#" class="eyebrow-nav-link apply-link w-inline-block">
            <div class="text-block">Apply</div>
          </a>
          <a href="#" class="eyebrow-nav-link request-info-link w-inline-block">
            <div>Request Info</div>
          </a>
          <a href="tel:+1-617-243-2400" class="eyebrow-nav-link phone-link w-inline-block">
            <div>Call or Text 617.243.2400</div>
          </a>
        </nav>
      </div>
    </div>
    <div class="primary-bar">
      <div class="container primary-bar-container"><a href="#" class="logo-container w-inline-block"><img src="../images/Lasell_Logo_Graduate_Program-1-copy2x.png" width="327.5" alt="Lasell University Graduate and Professional Studies" srcset="../images/Lasell_Logo_Graduate_Program-1-copy2x-p-500.png 500w, ../images/Lasell_Logo_Graduate_Program-1-copy2x.png 655w" sizes="100vw" class="logo"></a>
        <div data-collapse="medium" data-animation="default" data-duration="400" data-doc-height="1" role="banner" class="primary-nav w-nav">
          <div class="w-container">
            <nav role="navigation" class="nav-menu w-nav-menu">
              <div data-hover="1" data-delay="0" class="w-dropdown">
                <div class="primary-nav-item dropdown w-dropdown-toggle">
                  <div>Lasell Experience</div>
                </div>
                <nav class="w-dropdown-list"><a href="#" class="w-dropdown-link">Enrollment Counseling</a><a href="#" class="w-dropdown-link">Career Development</a><a href="#" class="w-dropdown-link">Student Services</a><a href="#" class="w-dropdown-link">Academic Advising &amp; Support</a><a href="#" class="w-dropdown-link">Partnerships</a><a href="#" class="w-dropdown-link">Academic Policies</a><a href="#" class="w-dropdown-link">FAQs</a></nav>
              </div>
              <div data-hover="1" data-delay="0" class="w-dropdown">
                <div class="primary-nav-item dropdown w-dropdown-toggle">
                  <div>Academics</div>
                </div>
                <nav class="w-dropdown-list"><a href="#" class="w-dropdown-link">Online Learning at Lasell</a><a href="#" class="w-dropdown-link">Course Schedules</a><a href="#" class="w-dropdown-link">Course Descriptions</a><a href="#" class="w-dropdown-link">Academic Calendar</a><a href="#" class="w-dropdown-link">Accredidations</a><a href="#" class="w-dropdown-link">Academic Policies</a></nav>
              </div>
              <div data-hover="1" data-delay="0" class="w-dropdown">
                <div class="primary-nav-item dropdown w-dropdown-toggle">
                  <div>Tuition &amp; Aid</div>
                </div>
                <nav class="w-dropdown-list"><a href="#" class="w-dropdown-link">Tuition and Fees</a><a href="#" class="w-dropdown-link">Payment Options</a><a href="#" class="w-dropdown-link">What to Expect</a><a href="#" class="w-dropdown-link">Financial Aid Resources</a><a href="#" class="w-dropdown-link">Graduate Assistantships</a><a href="#" class="w-dropdown-link">On-Campus Housing</a><a href="#" class="w-dropdown-link">For Veterans</a></nav>
              </div>
              <div data-hover="1" data-delay="0" class="w-dropdown">
                <div class="primary-nav-item dropdown w-dropdown-toggle">
                  <div>Admissions</div>
                </div>
                <nav class="w-dropdown-list"><a href="#" class="w-dropdown-link">Apply</a><a href="#" class="w-dropdown-link">Transfer Credits</a><a href="#" class="w-dropdown-link">International Students</a><a href="#" class="w-dropdown-link">Visit Campus</a><a href="#" class="w-dropdown-link">Schedule a Call</a><a href="#" class="w-dropdown-link">Events</a></nav>
              </div>
            </nav>
            <div class="w-nav-button">
              <div class="w-icon-nav-menu"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-collapse="medium" data-animation="default" data-duration="400" data-doc-height="1" role="banner" class="primary-nav w-nav">
      <div class="container primary-nav-container"><a href="#" class="brand w-nav-brand"><img src="../images/Lasell_Logo_Graduate_Program-1-copy2x.png" alt="Lasell University Graduate and Professional Studies" srcset="../images/Lasell_Logo_Graduate_Program-1-copy2x-p-500.png 500w, ../images/Lasell_Logo_Graduate_Program-1-copy2x.png 655w" sizes="(max-width: 479px) 200px, (max-width: 767px) 250px, (max-width: 991px) 280px, 20vw"></a>
        <nav role="navigation" class="primary-nav-menu w-nav-menu">
          <div data-hover="1" data-delay="0" class="primary-nav-dropdown w-dropdown">
            <div class="primary-nav-item dropdown w-dropdown-toggle">
              <div class="primary-nav-item-label">Lasell Experience</div>
            </div>
            <nav data-w-id="d580ad49-704c-4459-fb7a-2ca6b8a720e6" class="dropdown-menu w-dropdown-list">
              <div class="container dropdown-container">
                <div class="dropdown-image"><img src="../images/campuscenter2x.jpg" srcset="../images/campuscenter2x-p-500.jpeg 500w, ../images/campuscenter2x-p-800.jpeg 800w, ../images/campuscenter2x-p-1080.jpeg 1080w, ../images/campuscenter2x.jpg 1496w" sizes="100vw" alt=""></div>
                <div class="dropdown-copy w-clearfix"><a href="#" class="button button-white">Meet Lasell</a>
                  <p class="dropdown-copy-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                </div>
                <div class="dropdown-links"><a href="#" class="dropdown-link w-dropdown-link">Enrollment Counseling</a><a href="#" class="dropdown-link w-dropdown-link">Career Development</a><a href="#" class="dropdown-link w-dropdown-link">Student Services</a><a href="#" class="dropdown-link w-dropdown-link">Academic Advising and Support</a><a href="#" class="dropdown-link w-dropdown-link">Partnerships</a><a href="#" class="dropdown-link w-dropdown-link">Academic Policies</a><a href="#" class="dropdown-link w-dropdown-link">FAQs</a></div>
              </div>
            </nav>
          </div>
          <div data-hover="1" data-delay="0" class="primary-nav-dropdown w-dropdown">
            <div class="primary-nav-item dropdown w-dropdown-toggle">
              <div class="primary-nav-item-label">Academics</div>
            </div>
            <nav data-w-id="d71816bd-1b31-5cb0-8f4d-cfcfefa9523c" class="dropdown-menu w-dropdown-list">
              <div class="container dropdown-container">
                <div class="dropdown-image"><img src="../images/campuscenter2x.jpg" srcset="../images/campuscenter2x-p-500.jpeg 500w, ../images/campuscenter2x-p-800.jpeg 800w, ../images/campuscenter2x-p-1080.jpeg 1080w, ../images/campuscenter2x.jpg 1496w" sizes="100vw" alt=""></div>
                <div class="dropdown-copy w-clearfix"><a href="#" class="button button-white">Find a Program</a>
                  <p class="dropdown-copy-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                </div>
                <div class="dropdown-links"><a href="#" class="dropdown-link w-dropdown-link">Career Development</a><a href="#" class="dropdown-link w-dropdown-link">Student Services</a><a href="#" class="dropdown-link w-dropdown-link">Academic Advising &amp; Support</a><a href="#" class="dropdown-link w-dropdown-link">Partnerships</a><a href="#" class="dropdown-link w-dropdown-link">Academic Policies</a><a href="#" class="dropdown-link w-dropdown-link">FAQs</a><a href="#" class="dropdown-link w-dropdown-link">Enrollment Counseling</a></div>
              </div>
            </nav>
          </div>
          <div data-hover="1" data-delay="0" class="primary-nav-dropdown w-dropdown">
            <div class="primary-nav-item dropdown w-dropdown-toggle">
              <div class="primary-nav-item-label">Tuition &amp; Aid</div>
            </div>
            <nav data-w-id="caea3ce5-8fd9-c86f-d541-27b8ee74f99d" class="dropdown-menu w-dropdown-list">
              <div class="container dropdown-container">
                <div class="dropdown-image"><img src="../images/campuscenter2x.jpg" srcset="../images/campuscenter2x-p-500.jpeg 500w, ../images/campuscenter2x-p-800.jpeg 800w, ../images/campuscenter2x-p-1080.jpeg 1080w, ../images/campuscenter2x.jpg 1496w" sizes="100vw" alt=""></div>
                <div class="dropdown-copy w-clearfix"><a href="#" class="button button-white">Lorem Ipsum Dolor Sit</a>
                  <p class="dropdown-copy-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                </div>
                <div class="dropdown-links"><a href="#" class="dropdown-link w-dropdown-link">Tuition and Fees</a><a href="#" class="dropdown-link w-dropdown-link">Payment Options</a><a href="#" class="dropdown-link w-dropdown-link">What to Expect</a><a href="#" class="dropdown-link w-dropdown-link">Financial Aid Resources</a><a href="#" class="dropdown-link w-dropdown-link">Graduate Assistantships</a><a href="#" class="dropdown-link w-dropdown-link">On-Campus Housing</a></div>
              </div>
            </nav>
          </div>
          <div data-hover="1" data-delay="0" class="primary-nav-dropdown w-dropdown">
            <div class="primary-nav-item dropdown w-dropdown-toggle">
              <div class="primary-nav-item-label">Admissions</div>
            </div>
            <nav data-w-id="458b5db9-8442-6ce3-410b-b555307d859d" class="dropdown-menu w-dropdown-list">
              <div class="container dropdown-container">
                <div class="dropdown-image"><img src="../images/campuscenter2x.jpg" srcset="../images/campuscenter2x-p-500.jpeg 500w, ../images/campuscenter2x-p-800.jpeg 800w, ../images/campuscenter2x-p-1080.jpeg 1080w, ../images/campuscenter2x.jpg 1496w" sizes="100vw" alt=""></div>
                <div class="dropdown-copy w-clearfix"><a href="#" class="button button-white">Apply Now</a><a href="#" class="button button-white">Ask a Question</a>
                  <p class="dropdown-copy-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                </div>
                <div class="dropdown-links"><a href="#" class="dropdown-link w-dropdown-link">Apply</a><a href="#" class="dropdown-link w-dropdown-link">Transfer Credits</a><a href="#" class="dropdown-link w-dropdown-link">International Students</a><a href="#" class="dropdown-link w-dropdown-link">Visit Campus</a><a href="#" class="dropdown-link w-dropdown-link">Schedule a Call</a><a href="#" class="dropdown-link w-dropdown-link">Events</a></div>
              </div>
            </nav>
          </div>
          <div data-hover="1" data-delay="250" class="primary-nav-dropdown search-dropdown w-dropdown">
            <div class="primary-nav-item dropdown w-dropdown-toggle">
              <div class="primary-nav-item-label search"></div>
            </div>
            <nav class="dropdown-menu w-dropdown-list">
              <div class="container dropdown-container search-dropdown-container">
                <div class="form-block w-form">
                  <form id="wf-form-Search" name="wf-form-Search" data-name="Search" class="form w-clearfix"><input type="text" class="search-input w-input" autofocus="true" maxlength="256" name="Search-Query" data-name="Search Query" placeholder="Search for…" id="Search-Query"><input type="submit" value="Submit" data-wait="Please wait..." class="button search-submit w-button"></form>
                  <div class="w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                  </div>
                  <div class="w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </nav>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
      <div class="container primary-nav-container w-container"></div>
    </div>
  </header>
  <div data-w-id="3c7647a8-e834-7263-1f01-19ac3f1e97ca" class="interior-hero-panel">
    <div class="container">
      <div class="interior-hero-panel-content">
        <h1 class="heading-3">Find a Program</h1>
        <div class="horizontal-rule"></div>
      </div>
    </div>
  </div>
  <main class="program-finder">
    <div class="container">
      <div class="program-finder-filters">
        <div class="program-finder-filters-heading">
          <h2 class="sidebar-heading program-filters-heading">Filter By</h2><a href="#" class="clear-filters-link">Clear Filters</a></div>
        <div class="program-finder-filters-groups">
          <div class="program-finder-filter-group">
            <h3 class="program-finder-filter-group-heading">Level</h3>
            <div class="program-finder-filter-group-filters">
              <div class="w-embed"><label class="filter-checkbox-label">
<input type="checkbox" class="filter-checkbox" data-filter="all" checked="">
All
</label>
                <label class="filter-checkbox-label">
<input type="checkbox" class="filter-checkbox" data-filter="level-masters">
Master's
</label>
                <label class="filter-checkbox-label">
<input type="checkbox" class="filter-checkbox" data-filter="level-certificate">
Certificate
</label></div>
            </div>
          </div>
          <div class="program-finder-filter-group">
            <h3 class="program-finder-filter-group-heading">Subject</h3>
            <div class="w-embed"><label class="filter-checkbox-label">
<input type="checkbox" class="filter-checkbox" data-filter="all" checked="">
All
</label>
              <label class="filter-checkbox-label">
<input type="checkbox" class="filter-checkbox" data-filter="subject-business">
Business &amp; Management
</label>
              <label class="filter-checkbox-label">
<input type="checkbox" class="filter-checkbox" data-filter="subject-communication">
Communication, Marketing &amp; Public&nbsp;Relations
</label>
              <label class="filter-checkbox-label">
<input type="checkbox" class="filter-checkbox" data-filter="subject-creative">
Creative Fields
</label>
              <label class="filter-checkbox-label">
<input type="checkbox" class="filter-checkbox" data-filter="subject-criminal">
Criminal Justice
</label>
              <label class="filter-checkbox-label">
<input type="checkbox" class="filter-checkbox" data-filter="subject-sport">
Sport Science
</label></div>
          </div>
          <div class="program-finder-filter-group">
            <h3 class="program-finder-filter-group-heading">Format</h3>
            <div class="w-embed"><label class="filter-checkbox-label">
<input type="checkbox" class="filter-checkbox" data-filter="all" checked="">
All
</label>
              <label class="filter-checkbox-label">
<input type="checkbox" class="filter-checkbox" data-filter="format-online">
Online
</label>
              <label class="filter-checkbox-label">
<input type="checkbox" class="filter-checkbox" data-filter="format-campus">
Campus
</label>
              <label class="filter-checkbox-label">
<input type="checkbox" class="filter-checkbox" data-filter="format-hybrid">
Hybrid
</label></div>
          </div>
        </div>
      </div>
      <div class="program-finder-program-list">
        <div class="program-finder-active-filters">
          <div class="program-finder-active-filters-label">Filtering by:</div>
        </div>
        <div class="program-finder-number-of-results">50 Results</div>
        <div class="program-finder-table">
          <div class="row table-header">
            <div class="program-finder-table-cell program header">Program</div>
            <div class="program-finder-table-cell level header">
              <div>Level</div>
            </div>
            <div class="program-finder-table-cell format header">
              <div>Format</div>
            </div>
          </div>
          <div class="subject-grouping">
            <h3 class="subject-grouping-header">Business &amp; Management</h3>
            <div data-filter="subject-business level-masters format-online" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">MBA (Master’s in Business Administration)</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Master’s</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online</div>
              </div>
            </div>
            <div data-filter="subject-business level-masters format-online" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">MBA (Master’s in Business Administration)</div>
                  <div class="program-subcategory">Human Resources concentration</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Master’s</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online</div>
              </div>
            </div>
            <div data-filter="subject-business level-masters format-online" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">MBA (Master’s in Business Administration)</div>
                  <div class="program-subcategory">Marketing concentration</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Master’s</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online</div>
              </div>
            </div>
            <div data-filter="subject-business level-masters format-online" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">MBA (Master’s in Business Administration)</div>
                  <div class="program-subcategory">Project Management concentration</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Master’s</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online</div>
              </div>
            </div>
            <div data-filter="subject-business level-masters format-online" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">MS in Human Resources</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Master’s</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online</div>
              </div>
            </div>
            <div data-filter="subject-business level-masters format-online" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">MS in Management</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Master’s</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online</div>
              </div>
            </div>
            <div data-filter="subject-business level-masters format-online" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">MS in Management</div>
                  <div class="program-subcategory">Hospitality &amp; Event Management concentration</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Master’s</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online</div>
              </div>
            </div>
            <div data-filter="subject-business level-masters format-online" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">MS in Project Management</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Master’s</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online</div>
              </div>
            </div>
            <div data-filter="subject-business level-masters format-online" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">MS in Sport Management</div>
                  <div class="program-subcategory">Sport Leadership concentration</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Master’s</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online</div>
              </div>
            </div>
            <div data-filter="subject-business level-masters format-online" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">MS in Sport Management</div>
                  <div class="program-subcategory">Sport Tourism &amp; Hospitality concentration</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Master’s</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online</div>
              </div>
            </div>
            <div data-filter="subject-business level-masters format-online" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">MS in Sport Management</div>
                  <div class="program-subcategory">Parks &amp; Recreation concentration</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Master’s</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online</div>
              </div>
            </div>
            <div data-filter="subject-business level-masters format-online" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">MS in Sport Management</div>
                  <div class="program-subcategory">Athletic Administration concentration</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Master’s</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online</div>
              </div>
            </div>
            <div data-filter="subject-business level-certificate format-online" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">Emergency &amp; Crisis Management</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Certificate</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online</div>
              </div>
            </div>
            <div data-filter="subject-business level-certificate format-online" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">Financial Planning</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Certificate</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online</div>
              </div>
            </div>
            <div data-filter="subject-business level-certificate format-online format-campus format-hybrid" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">Human Resources Management</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Certificate</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online | Campus | Hybrid</div>
              </div>
            </div>
            <div data-filter="subject-business level-certificate format-online format-campus format-hybrid" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">Management</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Certificate</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online | Campus | Hybrid</div>
              </div>
            </div>
            <div class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">Project Management</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Certificate</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online | Campus | Hybrid</div>
              </div>
            </div>
            <div data-filter="subject-business level-certificate format-online" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">Sport Leadership</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Certificate</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online</div>
              </div>
            </div>
          </div>
          <div class="subject-grouping">
            <h3 class="subject-grouping-header">Communication, Marketing &amp; Public Relations</h3>
            <div data-filter="subject-communication level-masters format-online" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">MS in Communication</div>
                  <div class="program-subcategory">Digital Media concentration</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Master’s</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online</div>
              </div>
            </div>
            <div data-filter="subject-communication level-masters format-online" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">MS in Communication</div>
                  <div class="program-subcategory">Health Communication concentration</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Master’s</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online</div>
              </div>
            </div>
            <div data-filter="subject-communication level-masters format-online" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">MS in Communication</div>
                  <div class="program-subcategory">Integrated Marketing concentration</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Master’s</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online</div>
              </div>
            </div>
            <div data-filter="subject-communication level-masters format-online" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">MS in Communication</div>
                  <div class="program-subcategory">Negotiations &amp; Conflict Resolution concentration</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Master’s</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online</div>
              </div>
            </div>
            <div data-filter="subject-communication level-masters format-online" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">MS in Communication</div>
                  <div class="program-subcategory">Public Relations concentration</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Master’s</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online</div>
              </div>
            </div>
            <div data-filter="subject-communication level-masters format-online" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">MS in Communication</div>
                  <div class="program-subcategory">Public Speaking concentration</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Master’s</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online</div>
              </div>
            </div>
            <div data-filter="subject-communication level-masters format-online" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">MS in Marketing</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Master’s</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online</div>
              </div>
            </div>
            <div data-filter="subject-communication level-certificate format-online" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">E-Commerce</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Certificate</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online</div>
              </div>
            </div>
            <div data-filter="subject-communication level-certificate format-online format-campus format-hybrid" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">Health Communication</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Certificate</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online | Campus | Hybrid</div>
              </div>
            </div>
            <div data-filter="subject-communication level-certificate format-online format-campus format-hybrid" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">Integrated Marketing</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Certificate</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online | Campus | Hybrid</div>
              </div>
            </div>
            <div data-filter="subject-communication level-certificate format-online format-campus format-hybrid" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">Marketing</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Certificate</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online | Campus | Hybrid</div>
              </div>
            </div>
            <div data-filter="subject-communication level-certificate format-online format-campus format-hybrid" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">Public Relations</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Certificate</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online | Campus | Hybrid</div>
              </div>
            </div>
          </div>
          <div class="subject-grouping">
            <h3 class="subject-grouping-header">Creative Fields</h3>
            <div data-filter="subject-creative level-certificate format-hybrid" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">Footwear Design &amp; Development</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Certificate</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Hybrid</div>
              </div>
            </div>
            <div data-filter="subject-creative level-certificate format-online" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">Print Design</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Certificate</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online</div>
              </div>
            </div>
          </div>
          <div class="subject-grouping">
            <h3 class="subject-grouping-header">Criminal Justice</h3>
            <div data-filter="subject-criminal level-masters format-online" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">MS in Criminal Justice</div>
                  <div class="program-subcategory">Emergency Crisis Management concentration</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Master’s</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online</div>
              </div>
            </div>
            <div data-filter="subject-criminal level-masters format-online" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">MS in Criminal Justice</div>
                  <div class="program-subcategory">Homeland Security &amp; Global Justice concentration</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Master’s</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online</div>
              </div>
            </div>
            <div data-filter="subject-criminal level-masters format-online" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">MS in Criminal Justice</div>
                  <div class="program-subcategory">Violence Prevention &amp; Advocacy concentration</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Master’s</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online</div>
              </div>
            </div>
            <div data-filter="subject-criminal level-masters format-online" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">MS in Criminal Justice</div>
                  <div class="program-subcategory">Self-Designed Option</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Master’s</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online</div>
              </div>
            </div>
            <div data-filter="subject-criminal level-certificate format-online" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">Homeland Security &amp; Global Justice</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Certificate</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online</div>
              </div>
            </div>
          </div>
          <div class="subject-grouping">
            <h3 class="subject-grouping-header">Education</h3>
            <div data-filter="subject-education level-masters format-hybrid" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">MS in Education</div>
                  <div class="program-subcategory">Elementary Education concentration</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Master’s</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Hybrid</div>
              </div>
            </div>
            <div data-filter="subject-education level-masters format-hybrid" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">MS in Education</div>
                  <div class="program-subcategory">Special Education, Moderate Disabilities concentration</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Master’s</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Hybrid</div>
              </div>
            </div>
            <div data-filter="subject-education level-masters format-hybrid" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">MS in Education</div>
                  <div class="program-subcategory">Curriculum, Leadership &amp; Inclusion concentration</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Master’s</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Hybrid</div>
              </div>
            </div>
            <div data-filter="subject-education level-certificate format-online" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">Teaching Bilingual/English Learners (ELL/SPED)</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Certificate</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online</div>
              </div>
            </div>
            <div data-filter="subject-education level-certificate format-online" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">Violence Prevention &amp; Advocacy</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Certificate</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Online</div>
              </div>
            </div>
          </div>
          <div class="subject-grouping">
            <h3 class="subject-grouping-header">Sport Science</h3>
            <div data-filter="subject-sport level-masters format-hybrid" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">MS in Athletic Training</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Master’s</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Hybrid</div>
              </div>
            </div>
            <div data-filter="subject-sport level-masters format-hybrid" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">MS in Nutrition for Human Performance</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Master’s</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Hybrid</div>
              </div>
            </div>
            <div data-filter="subject-sport level-masters format-hybrid" class="row">
              <div class="program-finder-table-cell program">
                <a href="#" class="program-finder-link w-inline-block">
                  <div class="program-name">MS in Rehabilitation Science</div>
                </a>
              </div>
              <div class="program-finder-table-cell level">
                <div>Master’s</div>
              </div>
              <div class="program-finder-table-cell format">
                <div>Hybrid</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer">
    <div class="container footer-container">
      <address class="address"><img src="../images/Lasell_Logo_Graduate_Program-logo2x.png" alt="Lasell University Graduate &amp; Professional Studies" width="315" srcset="../images/Lasell_Logo_Graduate_Program-logo2x-p-500.png 500w, ../images/Lasell_Logo_Graduate_Program-logo2x.png 630w" sizes="(max-width: 479px) 92vw, (max-width: 991px) 315px, 30vw">
        <div class="address-text">1844 Commonwealth Avenue<br>Newton, Massachusetts 02466<br><a href="tel:+1-6172432400" class="footer-link telephone">617.243.2400</a></div>
      </address>
      <nav>
        <ul role="list" class="footer-nav-list">
          <li class="footer-nav-list-item"><a href="#" class="footer-link">Lasell Experience</a></li>
          <li class="footer-nav-list-item"><a href="#" class="footer-link">Academics</a></li>
          <li class="footer-nav-list-item"><a href="#" class="footer-link">Tuition &amp; Aid</a></li>
          <li class="footer-nav-list-item"><a href="#" class="footer-link">Admissions</a></li>
        </ul>
      </nav><img src="../images/2364f835b77c5afe1a1921c7338f882d2x.png" srcset="../images/2364f835b77c5afe1a1921c7338f882d2x-p-500.png 500w, ../images/2364f835b77c5afe1a1921c7338f882d2x.png 598w" sizes="(max-width: 991px) 100vw, 24vw" alt="" class="footer-image">
      <div class="engage-block w-clearfix">
        <a href="#" class="button footer-button w-inline-block">
          <div class="button-text">Request Info</div>
        </a>
        <a href="#" class="button footer-button w-inline-block">
          <div class="button-text">Apply</div>
        </a>
        <div class="social-links"><a href="#" class="social-link w-inline-block"><img src="../images/social-facebook.svg" alt="Facebook" class="social-link-icon"></a><a href="#" class="social-link w-inline-block"><img src="../images/social-twitter.svg" alt="Twitter"></a><a href="#" class="social-link w-inline-block"><img src="../images/social-instagram.svg" alt="Instagram"></a><a href="#" class="social-link w-inline-block"><img src="../images/social-linkedin.svg" alt="LinkedIn"></a></div>
      </div>
    </div>
    <div class="container copyright-container">
      <div class="copyright">
        <div class="footer-copyright">© 2020 Lasell University</div><a href="#" class="footer-link">Privacy Policy</a><a href="#" class="footer-link">lasell.edu</a></div>
    </div>
  </footer>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5e7a29b0f9dc73c9b5fb343d" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="../js/lasell-gps.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/balance-text/3.3.0/balancetext.min.js"></script>
</body>
</html>
