<!DOCTYPE html>
<!--  Last Published: Mon Jul 13 2020 19:15:57 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="5e9db6d1a92e9264f88b7bfc" data-wf-site="5e7a29b0f9dc73c9b5fb343d" lang="en">
<head>
  <meta charset="utf-8">
  <title>Template: Home Page</title>
  <meta content="Template: Home Page" property="og:title">
  <meta content="Template: Home Page" property="twitter:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="../css/normalize.css" rel="stylesheet" type="text/css">
  <link href="../css/components.css" rel="stylesheet" type="text/css">
  <link href="../css/lasell-gps.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">
      WebFont.load({
        google: {
          families: ["Inconsolata:400,700"]
        }
      });
    </script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">
      ! function(o, c) {
        var n = c.documentElement,
          t = " w-mod-";
        n.className += t + "js", ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch")
      }(window, document);
    </script>
  <link href="../images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="../images/webclip.png" rel="apple-touch-icon">
</head>
<body class="body">
  <header class="header">
    <div class="utility-bar">
      <div class="container utility-bar-container">
        <a href="https://www.lasell.edu/" target="_blank" class="link-to-parent-site w-inline-block">
          <div>lasell.edu</div>
        </a>
        <nav class="eyebrow-nav">
          <a href="#" class="eyebrow-nav-link apply-link w-inline-block">
            <div class="text-block">Apply</div>
          </a>
          <a href="#" class="eyebrow-nav-link request-info-link w-inline-block">
            <div>Request Info</div>
          </a>
          <a href="tel:+1-617-243-2400" class="eyebrow-nav-link phone-link w-inline-block">
            <div>Call or Text 617.243.2400</div>
          </a>
        </nav>
      </div>
    </div>
    <div class="primary-bar">
      <div class="container primary-bar-container"><a href="#" class="logo-container w-inline-block"><img src="../images/Lasell_Logo_Graduate_Program-1-copy2x.png" width="327.5" alt="Lasell University Graduate and Professional Studies" srcset="../images/Lasell_Logo_Graduate_Program-1-copy2x-p-500.png 500w, ../images/Lasell_Logo_Graduate_Program-1-copy2x.png 655w" sizes="100vw" class="logo"></a>
        <div data-collapse="medium" data-animation="default" data-duration="400" data-doc-height="1" role="banner" class="primary-nav w-nav">
          <div class="w-container">
            <nav role="navigation" class="nav-menu w-nav-menu">
              <div data-hover="1" data-delay="0" class="w-dropdown">
                <div class="primary-nav-item dropdown w-dropdown-toggle">
                  <div>Lasell Experience</div>
                </div>
                <nav class="w-dropdown-list"><a href="#" class="w-dropdown-link">Enrollment Counseling</a><a href="#" class="w-dropdown-link">Career Development</a><a href="#" class="w-dropdown-link">Student Services</a><a href="#" class="w-dropdown-link">Academic Advising &amp; Support</a><a href="#" class="w-dropdown-link">Partnerships</a><a href="#" class="w-dropdown-link">Academic Policies</a><a href="#" class="w-dropdown-link">FAQs</a></nav>
              </div>
              <div data-hover="1" data-delay="0" class="w-dropdown">
                <div class="primary-nav-item dropdown w-dropdown-toggle">
                  <div>Academics</div>
                </div>
                <nav class="w-dropdown-list"><a href="#" class="w-dropdown-link">Online Learning at Lasell</a><a href="#" class="w-dropdown-link">Course Schedules</a><a href="#" class="w-dropdown-link">Course Descriptions</a><a href="#" class="w-dropdown-link">Academic Calendar</a><a href="#" class="w-dropdown-link">Accredidations</a><a href="#" class="w-dropdown-link">Academic Policies</a></nav>
              </div>
              <div data-hover="1" data-delay="0" class="w-dropdown">
                <div class="primary-nav-item dropdown w-dropdown-toggle">
                  <div>Tuition &amp; Aid</div>
                </div>
                <nav class="w-dropdown-list"><a href="#" class="w-dropdown-link">Tuition and Fees</a><a href="#" class="w-dropdown-link">Payment Options</a><a href="#" class="w-dropdown-link">What to Expect</a><a href="#" class="w-dropdown-link">Financial Aid Resources</a><a href="#" class="w-dropdown-link">Graduate Assistantships</a><a href="#" class="w-dropdown-link">On-Campus Housing</a><a href="#" class="w-dropdown-link">For Veterans</a></nav>
              </div>
              <div data-hover="1" data-delay="0" class="w-dropdown">
                <div class="primary-nav-item dropdown w-dropdown-toggle">
                  <div>Admissions</div>
                </div>
                <nav class="w-dropdown-list"><a href="#" class="w-dropdown-link">Apply</a><a href="#" class="w-dropdown-link">Transfer Credits</a><a href="#" class="w-dropdown-link">International Students</a><a href="#" class="w-dropdown-link">Visit Campus</a><a href="#" class="w-dropdown-link">Schedule a Call</a><a href="#" class="w-dropdown-link">Events</a></nav>
              </div>
            </nav>
            <div class="w-nav-button">
              <div class="w-icon-nav-menu"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-collapse="medium" data-animation="default" data-duration="400" data-doc-height="1" role="banner" class="primary-nav w-nav">
      <div class="container primary-nav-container"><a href="#" class="brand w-nav-brand"><img src="../images/Lasell_Logo_Graduate_Program-1-copy2x.png" alt="Lasell University Graduate and Professional Studies" srcset="../images/Lasell_Logo_Graduate_Program-1-copy2x-p-500.png 500w, ../images/Lasell_Logo_Graduate_Program-1-copy2x.png 655w" sizes="(max-width: 479px) 200px, (max-width: 767px) 250px, (max-width: 991px) 280px, 20vw"></a>
        <nav role="navigation" class="primary-nav-menu w-nav-menu">
          <div data-hover="1" data-delay="0" class="primary-nav-dropdown w-dropdown">
            <div class="primary-nav-item dropdown w-dropdown-toggle">
              <div class="primary-nav-item-label">Lasell Experience</div>
            </div>
            <nav data-w-id="d580ad49-704c-4459-fb7a-2ca6b8a720e6" class="dropdown-menu w-dropdown-list">
              <div class="container dropdown-container">
                <div class="dropdown-image"><img src="../images/campuscenter2x.jpg" srcset="../images/campuscenter2x-p-500.jpeg 500w, ../images/campuscenter2x-p-800.jpeg 800w, ../images/campuscenter2x-p-1080.jpeg 1080w, ../images/campuscenter2x.jpg 1496w" sizes="100vw" alt=""></div>
                <div class="dropdown-copy w-clearfix"><a href="#" class="button button-white">Meet Lasell</a>
                  <p class="dropdown-copy-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                </div>
                <div class="dropdown-links"><a href="#" class="dropdown-link w-dropdown-link">Enrollment Counseling</a><a href="#" class="dropdown-link w-dropdown-link">Career Development</a><a href="#" class="dropdown-link w-dropdown-link">Student Services</a><a href="#" class="dropdown-link w-dropdown-link">Academic Advising and Support</a><a href="#" class="dropdown-link w-dropdown-link">Partnerships</a><a href="#" class="dropdown-link w-dropdown-link">Academic Policies</a><a href="#" class="dropdown-link w-dropdown-link">FAQs</a></div>
              </div>
            </nav>
          </div>
          <div data-hover="1" data-delay="0" class="primary-nav-dropdown w-dropdown">
            <div class="primary-nav-item dropdown w-dropdown-toggle">
              <div class="primary-nav-item-label">Academics</div>
            </div>
            <nav data-w-id="d71816bd-1b31-5cb0-8f4d-cfcfefa9523c" class="dropdown-menu w-dropdown-list">
              <div class="container dropdown-container">
                <div class="dropdown-image"><img src="../images/campuscenter2x.jpg" srcset="../images/campuscenter2x-p-500.jpeg 500w, ../images/campuscenter2x-p-800.jpeg 800w, ../images/campuscenter2x-p-1080.jpeg 1080w, ../images/campuscenter2x.jpg 1496w" sizes="100vw" alt=""></div>
                <div class="dropdown-copy w-clearfix"><a href="#" class="button button-white">Find a Program</a>
                  <p class="dropdown-copy-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                </div>
                <div class="dropdown-links"><a href="#" class="dropdown-link w-dropdown-link">Career Development</a><a href="#" class="dropdown-link w-dropdown-link">Student Services</a><a href="#" class="dropdown-link w-dropdown-link">Academic Advising &amp; Support</a><a href="#" class="dropdown-link w-dropdown-link">Partnerships</a><a href="#" class="dropdown-link w-dropdown-link">Academic Policies</a><a href="#" class="dropdown-link w-dropdown-link">FAQs</a><a href="#" class="dropdown-link w-dropdown-link">Enrollment Counseling</a></div>
              </div>
            </nav>
          </div>
          <div data-hover="1" data-delay="0" class="primary-nav-dropdown w-dropdown">
            <div class="primary-nav-item dropdown w-dropdown-toggle">
              <div class="primary-nav-item-label">Tuition &amp; Aid</div>
            </div>
            <nav data-w-id="caea3ce5-8fd9-c86f-d541-27b8ee74f99d" class="dropdown-menu w-dropdown-list">
              <div class="container dropdown-container">
                <div class="dropdown-image"><img src="../images/campuscenter2x.jpg" srcset="../images/campuscenter2x-p-500.jpeg 500w, ../images/campuscenter2x-p-800.jpeg 800w, ../images/campuscenter2x-p-1080.jpeg 1080w, ../images/campuscenter2x.jpg 1496w" sizes="100vw" alt=""></div>
                <div class="dropdown-copy w-clearfix"><a href="#" class="button button-white">Lorem Ipsum Dolor Sit</a>
                  <p class="dropdown-copy-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                </div>
                <div class="dropdown-links"><a href="#" class="dropdown-link w-dropdown-link">Tuition and Fees</a><a href="#" class="dropdown-link w-dropdown-link">Payment Options</a><a href="#" class="dropdown-link w-dropdown-link">What to Expect</a><a href="#" class="dropdown-link w-dropdown-link">Financial Aid Resources</a><a href="#" class="dropdown-link w-dropdown-link">Graduate Assistantships</a><a href="#" class="dropdown-link w-dropdown-link">On-Campus Housing</a></div>
              </div>
            </nav>
          </div>
          <div data-hover="1" data-delay="0" class="primary-nav-dropdown w-dropdown">
            <div class="primary-nav-item dropdown w-dropdown-toggle">
              <div class="primary-nav-item-label">Admissions</div>
            </div>
            <nav data-w-id="458b5db9-8442-6ce3-410b-b555307d859d" class="dropdown-menu w-dropdown-list">
              <div class="container dropdown-container">
                <div class="dropdown-image"><img src="../images/campuscenter2x.jpg" srcset="../images/campuscenter2x-p-500.jpeg 500w, ../images/campuscenter2x-p-800.jpeg 800w, ../images/campuscenter2x-p-1080.jpeg 1080w, ../images/campuscenter2x.jpg 1496w" sizes="100vw" alt=""></div>
                <div class="dropdown-copy w-clearfix"><a href="#" class="button button-white">Apply Now</a><a href="#" class="button button-white">Ask a Question</a>
                  <p class="dropdown-copy-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                </div>
                <div class="dropdown-links"><a href="#" class="dropdown-link w-dropdown-link">Apply</a><a href="#" class="dropdown-link w-dropdown-link">Transfer Credits</a><a href="#" class="dropdown-link w-dropdown-link">International Students</a><a href="#" class="dropdown-link w-dropdown-link">Visit Campus</a><a href="#" class="dropdown-link w-dropdown-link">Schedule a Call</a><a href="#" class="dropdown-link w-dropdown-link">Events</a></div>
              </div>
            </nav>
          </div>
          <div data-hover="1" data-delay="250" class="primary-nav-dropdown search-dropdown w-dropdown">
            <div class="primary-nav-item dropdown w-dropdown-toggle">
              <div class="primary-nav-item-label search"></div>
            </div>
            <nav class="dropdown-menu w-dropdown-list">
              <div class="container dropdown-container search-dropdown-container">
                <div class="form-block w-form">
                  <form id="wf-form-Search" name="wf-form-Search" data-name="Search" class="form w-clearfix"><input type="text" class="search-input w-input" autofocus="true" maxlength="256" name="Search-Query" data-name="Search Query" placeholder="Search for…" id="Search-Query"><input type="submit" value="Submit" data-wait="Please wait..." class="button search-submit w-button"></form>
                  <div class="w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                  </div>
                  <div class="w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </nav>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
      <div class="container primary-nav-container w-container"></div>
    </div>
  </header>
  <main>
    <div class="home-page-hero-panel"><img src="../images/LAS_HR_1200x6272x.png" srcset="../images/LAS_HR_1200x6272x-p-500.png 500w, ../images/LAS_HR_1200x6272x-p-800.png 800w, ../images/LAS_HR_1200x6272x-p-1080.png 1080w, ../images/LAS_HR_1200x6272x.png 2560w" sizes="100vw" alt="" class="home-page-hero-image">
      <div class="container hero-container">
        <div class="home-page-hero-content w-clearfix">
          <h2 class="hero-heading">Graduate Assistantships Available for Fall 2020</h2>
          <p>Find the program that fits your busy schedule.</p>
          <a href="#" class="button w-inline-block">
            <div>Graduate Assistance</div>
          </a>
        </div>
      </div>
    </div>
    <div class="feature-panel">
      <div class="container">
        <div class="feature-panel-intro w-clearfix">
          <h2 class="heading-2">THE LASELL EXPERIENCE</h2>
          <div class="horizontal-rule"></div>
          <p class="paragraph-5">In today’s knowledge-based economy, Lasell University puts careers in motion. We aim to provide the skills you need, the connections you’re looking for, and the experience that the world demands-to prepare you for the career you want.</p>
          <a href="#" class="button w-inline-block">
            <div class="button-text">The Lasell Experience</div>
          </a>
        </div>
        <div class="feature-panel-blocks">
          <div class="feature-panel-block"><img src="../images/29d02d1c1c0f23e2135fdc17f16987852x.png" srcset="../images/29d02d1c1c0f23e2135fdc17f16987852x-p-500.png 500w, ../images/29d02d1c1c0f23e2135fdc17f16987852x.png 700w" sizes="(max-width: 479px) 96vw, (max-width: 744px) 94vw, (max-width: 767px) 700px, (max-width: 991px) 45vw, 30vw" alt="">
            <div class="feature-panel-block-text">
              <h3 class="block-headline">Find Your Program</h3>
              <p>Choose the academic program that prepares you for your next step towards greatness. Classes start 6 times throughout the year.</p>
              <ul role="list" class="link-list">
                <li><a href="#" class="link">Graduate Degrees</a></li>
                <li><a href="#">Certificate and Professional Studies Programs</a></li>
              </ul>
            </div>
          </div>
          <div class="feature-panel-block"><img src="../images/e4a1d023d0993e922d21f8d441bc4b2c2x.png" alt="">
            <div class="feature-panel-block-text w-clearfix">
              <h3 class="block-headline">GRaduate Webinars</h3>
              <p>Learn more about our programs, admission process, financial aid, prior learning credits and more at our Graduate Informational Webinar.</p>
              <ul role="list" class="webinar-list">
                <li>February 29, 9:00 a.m. EST</li>
                <li>March 14, 8:30 a.m. EST</li>
              </ul>
              <a href="#" class="button smaller w-inline-block">
                <div class="button-text">Sign Up Today</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="signpost-panel">
      <div class="container visual-navigation-panel-container">
        <div class="signpost-panel-intro">
          <h2>Keep in Touch</h2>
          <p class="paragraph-3">Choose the best way to keep in touch and stay updated about our program options and start dates.</p>
        </div>
        <div class="signpost-panel-links w-clearfix">
          <a href="#" class="button button-white w-inline-block">
            <div class="button-text">Schedule a Phone Call</div>
          </a>
          <a href="#" class="button button-white w-inline-block">
            <div class="button-text">Sign Up for More Information</div>
          </a>
          <a href="#" class="button button-white w-inline-block">
            <div class="button-text">Visit Us on Campus</div>
          </a>
        </div>
      </div>
    </div>
    <div class="grid-panel">
      <div class="container grid-panel-container">
        <div class="grid">
          <div id="w-node-1753dabbec37-dabbec34" data-w-id="1b42ceda-3591-d89a-dd37-1753dabbec37" class="grid-item first">
            <div class="grid-item-content"><img src="../images/arrow.png" width="98" alt=" " class="image">
              <h2 class="grid-heading">The Career You Want.</h2>
              <div class="grid-text-block-copy">In Lasell’s graduate programs, students connect what they learn in the classroom with what’s needed for the job they want.</div>
            </div>
          </div>
          <div class="grid-item photo">
            <div class="grid-item-content w-clearfix">
              <div class="grid-item-text">Six start dates throughout the year</div><a href="#" class="button smaller grid-item-button">STart Your Application</a></div>
          </div>
          <div id="grid-item-gold" class="grid-item gold w-node-1753dabbec42-dabbec34">
            <div class="grid-item-content w-clearfix">
              <div class="grid-item-text">Affordable tuition of $600 per credit</div><a href="#" class="button smaller grid-item-button navy">Tuition &amp; Fees</a></div>
          </div>
          <div id="w-node-1753dabbec46-dabbec34" class="grid-item photo">
            <div class="grid-item-content w-clearfix">
              <div class="grid-item-text">No GRE/GMAT required</div><a href="#" class="button smaller grid-item-button">Admission Requirements</a></div>
          </div>
          <div class="grid-item blue">
            <div class="grid-item-content w-clearfix">
              <div class="grid-item-text">Career services for all students</div><a href="#" class="button smaller grid-item-button gold">Career Services</a></div>
          </div>
          <div class="grid-item photo">
            <div class="grid-item-content w-clearfix">
              <div class="grid-item-text">Online, on‑campus, or blended classroom</div><a href="#" class="button smaller grid-item-button">Remote Learning @ Lasell</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="visual-nav-panel">
      <div class="container visual-nav-panel-container">
        <div class="visual-navigation-panel-intro w-clearfix">
          <h2 class="smaller-heading">Programs of Study</h2>
          <p>Looking to further your career or begin a brand new one? Pursue an advanced degree with flexible programs that fit your personal and professional life.</p>
          <a href="#" class="button smaller w-inline-block">
            <div class="button-text">View All Programs</div>
          </a>
        </div>
        <div class="visual-nav">
          <div class="visual-nav-item"><a href="#" class="visual-nav-link-block w-inline-block"><img src="../images/campuscenter2x.jpg" width="139" srcset="../images/campuscenter2x-p-500.jpeg 500w, ../images/campuscenter2x-p-800.jpeg 800w, ../images/campuscenter2x-p-1080.jpeg 1080w, ../images/campuscenter2x.jpg 1496w" sizes="(max-width: 991px) 100vw, 22vw" alt="" class="visual-nav-thumbnail"><h3 class="visual-navigation-item-title">Master’s </h3><p class="visual-navigation-item-desc">Volutpat a pellentesque sit amet porttitor eget dolor morbi.</p></a></div>
          <div class="visual-nav-item"><a href="#" class="visual-nav-link-block w-inline-block"><img src="../images/campuscenter2x.jpg" width="139" srcset="../images/campuscenter2x-p-500.jpeg 500w, ../images/campuscenter2x-p-800.jpeg 800w, ../images/campuscenter2x-p-1080.jpeg 1080w, ../images/campuscenter2x.jpg 1496w" sizes="(max-width: 991px) 100vw, 22vw" alt="" class="visual-nav-thumbnail"><h3 class="visual-navigation-item-title">Certificate</h3><p class="visual-navigation-item-desc">Sed cras ornare arcu dui. Nunc faucibus a pellentesque sit.</p></a></div>
          <div class="visual-nav-item"><a href="#" class="visual-nav-link-block w-inline-block"><img src="../images/campuscenter2x.jpg" width="139" srcset="../images/campuscenter2x-p-500.jpeg 500w, ../images/campuscenter2x-p-800.jpeg 800w, ../images/campuscenter2x-p-1080.jpeg 1080w, ../images/campuscenter2x.jpg 1496w" sizes="(max-width: 991px) 100vw, 22vw" alt="" class="visual-nav-thumbnail"><h3 class="visual-navigation-item-title">Badge</h3><p class="visual-navigation-item-desc">Amet porttitor eget dolor morbi. Nunc faucibus a pellentesque.</p></a></div>
          <div class="visual-nav-item"><a href="#" class="visual-nav-link-block w-inline-block"><img src="../images/campuscenter2x.jpg" width="139" srcset="../images/campuscenter2x-p-500.jpeg 500w, ../images/campuscenter2x-p-800.jpeg 800w, ../images/campuscenter2x-p-1080.jpeg 1080w, ../images/campuscenter2x.jpg 1496w" sizes="(max-width: 991px) 100vw, 22vw" alt="" class="visual-nav-thumbnail"><h3 class="visual-navigation-item-title">Bachelor’s Completion</h3><p class="visual-navigation-item-desc">Volutpat a pellentesque sit amet porttitor eget dolor morbi cras.</p></a></div>
          <div class="visual-nav-item"><a href="#" class="visual-nav-link-block w-inline-block"><img src="../images/campuscenter2x.jpg" width="139" srcset="../images/campuscenter2x-p-500.jpeg 500w, ../images/campuscenter2x-p-800.jpeg 800w, ../images/campuscenter2x-p-1080.jpeg 1080w, ../images/campuscenter2x.jpg 1496w" sizes="(max-width: 991px) 100vw, 22vw" alt="" class="visual-nav-thumbnail"><h3 class="visual-navigation-item-title">Fifth-Year Option</h3><p class="visual-navigation-item-desc">Volutpat a pellentesque sit amet porttitor eget dolor morbi cras.</p></a></div>
          <div class="visual-nav-item"><a href="#" class="visual-nav-link-block w-inline-block"><img src="../images/campuscenter2x.jpg" width="139" srcset="../images/campuscenter2x-p-500.jpeg 500w, ../images/campuscenter2x-p-800.jpeg 800w, ../images/campuscenter2x-p-1080.jpeg 1080w, ../images/campuscenter2x.jpg 1496w" sizes="(max-width: 991px) 100vw, 22vw" alt="" class="visual-nav-thumbnail"><h3 class="visual-navigation-item-title">Professional Studies</h3><p class="visual-navigation-item-desc">Amet porttitor eget dolor morbi. Nunc faucibus a pellentesque sit.</p></a></div>
        </div>
      </div>
    </div>
    <div class="form-panel">
      <div class="container">
        <div class="form-container-intro">
          <h2 class="smaller-heading form-container-heading">Request More Information</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p>Excepteur sint occaecat cupidatat non sunt in culpa qui officia deserunt mollitproident.</p>
        </div>
        <div class="form-panel-form-block">
          <div class="w-embed w-script">
            <div class="slate_embed">
              <div id="form_5b100ea6-f51c-4865-a4d8-bcfdee4a53cb-2">Loading...</div>
              <script>
                  /*<![CDATA[*/
                  var script = document.createElement('script');
                  script.async = 1;
                  script.src = 'https://lgr.test.technolutions.net/register/?id=5b100ea6-f51c-4865-a4d8-bcfdee4a53cb&output=embed&div=form_5b100ea6-f51c-4865-a4d8-bcfdee4a53cb-2' + ((location.search.length > 1) ? '&' + location.search.substring(1) : '');
                  var s = document.getElementsByTagName('script')[0];
                  s.parentNode.insertBefore(script, s); /*]]>*/
                </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer">
    <div class="container footer-container">
      <address class="address"><img src="../images/Lasell_Logo_Graduate_Program-logo2x.png" alt="Lasell University Graduate &amp; Professional Studies" width="315" srcset="../images/Lasell_Logo_Graduate_Program-logo2x-p-500.png 500w, ../images/Lasell_Logo_Graduate_Program-logo2x.png 630w" sizes="(max-width: 479px) 92vw, (max-width: 991px) 315px, 31vw">
        <div class="address-text">1844 Commonwealth Avenue<br>Newton, Massachusetts 02466<br><a href="tel:+1-6172432400" class="footer-link">617.243.2400</a></div>
      </address>
      <nav>
        <ul role="list" class="footer-nav-list">
          <li class="footer-nav-list-item"><a href="#" class="footer-link">Lasell Experience</a></li>
          <li class="footer-nav-list-item"><a href="#" class="footer-link">Academics</a></li>
          <li class="footer-nav-list-item"><a href="#" class="footer-link">Tuition &amp; Aid</a></li>
          <li class="footer-nav-list-item"><a href="#" class="footer-link">Admissions</a></li>
        </ul>
      </nav><img src="../images/2364f835b77c5afe1a1921c7338f882d2x.png" srcset="../images/2364f835b77c5afe1a1921c7338f882d2x-p-500.png 500w, ../images/2364f835b77c5afe1a1921c7338f882d2x.png 598w" sizes="(max-width: 991px) 100vw, 24vw" alt="" class="footer-image">
      <div class="engage-block w-clearfix">
        <a href="#" class="button footer-button w-inline-block">
          <div class="button-text">Request Info</div>
        </a>
        <a href="#" class="button footer-button w-inline-block">
          <div class="button-text">Apply</div>
        </a>
        <div class="social-links"><a href="#" class="social-link w-inline-block"><img src="../images/social-facebook.svg" alt="Facebook" class="social-link-icon"></a><a href="#" class="social-link w-inline-block"><img src="../images/social-twitter.svg" alt="Twitter"></a><a href="#" class="social-link w-inline-block"><img src="../images/social-instagram.svg" alt="Instagram"></a><a href="#" class="social-link w-inline-block"><img src="../images/social-linkedin.svg" alt="LinkedIn"></a></div>
      </div>
    </div>
    <div class="container copyright-container">
      <div class="copyright">
        <div>© 2020 Lasell University     |     <a href="#" class="footer-link">Privacy Policy</a>      |      <a href="https://lasell.edu" target="_blank" class="footer-link">lasell.edu</a></div>
      </div>
    </div>
  </footer>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5e7a29b0f9dc73c9b5fb343d" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="../js/lasell-gps.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/balance-text/3.3.0/balancetext.min.js"></script>
  <script type="text/javascript">
      $(document).ready(function() {
        // add interactivity
        $(".curriculum-class-details").hide();
        $(".curriculum-class-heading").click(function() {
          $(this).toggleClass("open");
          $(this).next().slideToggle(200);
        });
        $(".program-finder-filter-group-heading").click(function() {
          $(this).next().slideToggle(200);
          $(this).toggleClass("closed");
        });
        $(".jump-to-link-wrap").click(function() {
          $(".on-page-anchor-links").slideToggle();
          $(".jump-to-link-wrap .jump-to-link").toggleClass("open");
          $(".on-page-anchor-links a").click(function() {
            $(".jump-to-link-wrap .jump-to-link").toggleClass("open");
            $(".on-page-anchor-links").slideUp(200);
          });
          return false;
        });
        $('.grid-item-button').slideUp();
        $('.grid-item').hover(function() {
          $(this).find('.grid-item-button').slideDown(200);
        }, function() {
          $(this).find('.grid-item-button').slideUp(200);
        });
        // balance headlines
        balanceText($('h1, h2, h3, h4, h5, .lede, .button'), {
          watch: true
        });
        function doFiltering() {
          var activeFilterCount = $('.program-finder-filter-group input[type=checkbox]:checked:not([data-filter=all])').length;
          $('.program-finder-table .subject-grouping').show();
          $('.program-finder-table .subject-grouping .row').show();
          // does any group have no filters checked? check all instead
          $('.program-finder-filter-group').not(':has(.filter-checkbox:checked:not([data-filter=all]))').each(function() {
            $(this).find('.filter-checkbox[data-filter=all]').prop('checked', true);
          });
          if (activeFilterCount == 0) {
            $('.program-finder-active-filters').hide();
            $('.program-finder-active-filter').remove();
            $('.clear-filters-link').hide();
            $('.program-finder-number-of-results').text('');
            $('.program-finder-table .subject-grouping .row').show();
            $('.program-finder-table .subject-grouping').show();
          } else {
            $('.program-finder-active-filters').show();
            $('.program-finder-active-filter').remove();
            $('.program-finder-filter-group').has('.filter-checkbox:checked:not([data-filter=all])').each(function() {
              var theseFilters = [];
              $(this).find('.filter-checkbox:checked:not([data-filter=all])').each(function() {
                theseFilters.push('[data-filter*=' + $(this).data('filter') + ']');
                var thisFilterLabel = $(this).parent().text().trim();
                var thisFilterFilter = $(this).data('filter');
                $('.program-finder-active-filters').append("<div class='program-finder-active-filter' data-filter='" + thisFilterFilter + "'>" + thisFilterLabel + "</div>");
              });
              var theseFiltersString = theseFilters.toString();
              $('.program-finder-table .subject-grouping .row').not(theseFiltersString).hide();
            });
            $('.clear-filters-link').show();
            var visibleProgramsCount = $('.program-finder .subject-grouping .row:visible').length;
            $('.program-finder-number-of-results').text(visibleProgramsCount + " results");
            // hide headers for empty sections
            $('.subject-grouping').each(function() {
              if ($(this).find('.row:visible').length < 1) {
                $(this).hide();
              } else {
                $(this).show();
              }
            });
          }
        }
        doFiltering();
        $('.program-finder input').change(function() {
          doFiltering();
        });
        $('.clear-filters-link').click(function() {
          $('.program-finder-filter-group .filter-checkbox').prop('checked', false);
          $('.program-finder-filter-group .filter-checkbox[data-filter=all]').prop('checked', true);
          doFiltering();
          return false;
        });
        $('.program-finder .filter-checkbox:not([data-filter=all])').change(function() {
          if ($(this).prop('checked') == true) {
            $(this).closest('.program-finder-filter-group').find('.filter-checkbox[data-filter=all]').prop('checked', false);
          } else {}
        });
        $(document).on("click", ".program-finder-active-filter", function() {
          var thisFilter = $(this).data('filter');
          console.log(thisFilter);
          $('.program-finder-filter-group .filter-checkbox[data-filter=' + thisFilter + ']').prop('checked', false);
          $(this).remove();
          doFiltering();
        });
        $('.program-finder .filter-checkbox[data-filter=all]').change(function() {
          if ($(this).prop('checked') == true) {
            $(this).closest('.program-finder-filter-group').find('.filter-checkbox:not([data-filter=all])').prop('checked', false);
          } else {}
          doFiltering();
        });
      });
    </script>
  <style type="text/css">
      /* Slate form overrides */
      .slate_embed label,
      .slate_embed legend {
        line-height: 1.7;
        text-transform: uppercase;
        font-weight: bold;
      }
      .slate_embed input,
      .slate_embed textarea {
        color: black;
        line-height: 1.7;
        width: 100%;
      }
      .slate_embed select {
        -webkit-appearance: none;
        background: #64aee2;
        color: white;
        border: 1px solid gray;
        padding: 5px 10px;
        background-image: url(https://assets.website-files.com/5e7a29b0f9dc73c9b5fb343d/5e9da9f0b99e41e25d925d9a_triangle%20down%20gold.png);
        background-size: 14px;
        background-repeat: no-repeat;
        background-position: 95% 50%;
      }
      .slate_embed input[type="button"],
      .slate_embed button.default {
        -webkit-appearance: none;
        background-color: #ffcb4f;
        color: #142948;
        background-image: url(https://assets.website-files.com/5e7a29b0f9dc73c9b5fb343d/5e9da9e9241283aaf0d6fcc8_arrow%20right%20navy.png);
        background-position: 90% 50%;
        background-size: 16px;
        background-repeat: no-repeat;
        padding: 12px 60px 12px 35px;
        font-weight: bold;
        text-transform: uppercase;
      }
    </style>
</body>
</html>